*{
    margin: 0px;
}
body {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-text {
    background-image: url('../images/banner/banner3.png');
    color: #FFF;
    /* font-size: 65px; */
    text-align: right;
    padding-top: 210px;
    padding-right: 150px;
    padding-left: 845px;
    padding-bottom: 280px;
    background-repeat: no-repeat;
}

.info {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400px;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    padding: 15px 20px;
}

/* Failures years */
.failures {
    margin: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.failure-description {
    padding-left: 80px;
}

.failure-info {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.icon-clr{
    color: green;
}

/* plans */
.plans{
    padding: 230px;
}
.heading-plans{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.all-plans{
    display: flex;
    justify-content: space-between;
}
.plan-info{
    text-align: center;
}
.contact{
    margin: 10px 100px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    padding: 90px 70px 270px 147px;
    
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    padding: 130px 230px 140px 230px;
}
.future{
    color: white;
    padding-right: 200px;
}
.links{
    margin-right: 15px;
}
.subscribe{
    color: white;
}
.subscribe-btn{
    padding: 10px;
    font-size: 12px;
    color: white;
    background-color: #005FAC;
    border: 0px;
}